[tool.poetry]
name = "pytest-nhsd-apim"
version = "2.0.7"
description = "Pytest plugin accessing NHSDigital's APIM proxies"
authors = ["Ben Strutt <ben.strutt1@nhs.net>", "Adrian Ciobanita <adrian.ciobanita1@nhs.net>"]
maintainers = ["Ben Strutt <ben.strutt1@nhs.net>", "Adrian Ciobanita <adrian.ciobanita1@nhs.net>"]
readme = "README.md"
repository = "https://github.com/NHSDigital/pytest-nhsd-apim"
classifiers = ["Framework :: Pytest"]
license = "MIT"

[tool.poetry.dependencies]
Authlib = "^0.15.5"
cryptography = "^36.0.1"
lxml = "^4.7.1"
python = "^3.8"
pycryptodome = "^3.13.0"
PyJWT = "^2.3.0"
pyotp = "^2.6.0"
pytest = "^6.2.5"
requests = "^2.27.1"
toml = "^0.10.2"
typing-extensions = "^4.3.0"
pydantic = "^1.9.1"


[tool.poetry.dev-dependencies]

[tool.pytest.ini_options]
log_cli = true
log_cli_level = "INFO"
log_cli_format = "%(asctime)s - %(name)s.%(module)s.%(funcName)s - %(levelname)s - %(message)s"
log_file_level = "DEBUG"
log_file_format = "%(asctime)s - %(name)s.%(module)s.%(funcName)s - %(levelname)s - %(message)s"
log_file_date_format = "%Y-%m-%d %H:%M:%S"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
